body {
  margin: 0;
  font-family: Arial;
  background: #121212;
  color: white;
}

#loginScreen {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loginBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

input, select, button {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #007aff;
  color: white;
}

#chatScreen {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message {
  margin-bottom: 15px;
}

.date {
  font-size: 12px;
  opacity: 0.6;
}

.time {
  font-size: 12px;
  opacity: 0.6;
}

.inputArea {
  display: flex;
  padding: 10px;
  gap: 5px;
}

#messageInput {
  flex: 1;
}

.fileBtn {
  cursor: pointer;
}
